@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: auto;
  src: local("Inter-Regular"),
    url("./Inter/Inter-Regular-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: auto;
  src: local("Inter-Medim"),
    url("./Inter/Inter-Medium-slnt=0.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: auto;
  src: local("Inter-Bold"),
    url("./Inter/Inter-Bold-slnt=0.ttf") format("truetype");
}

